//font family
$playfair:'Playfair Display',
serif;
$roboto:'Roboto',
sans-serif;
//typography
//font-weight
$light:300;
$regular:400;
$regular-d:400;
$black-italic:900;
//font-sizes
$xx-large:70px;
$x-large:30px;
$large:18px;
$medium:16px;
$small:12px;