.content {
    padding: 5rem;
}

.content__date {
    font-family: $playfair;
    font-weight: $regular;
}

.content__text {
    font-family: $roboto;
    line-height: 2em;
}

.span {
    color: $ruddy-pink;
}