.header {
    color: $white;
    min-height: 700px;
    background-image: url("../img/post-image.jpg");
    background-repeat: none;
    background-size: cover;
    h1 {
        font-family: $playfair;
        font-size: $xx-large;
        font-style: italic;
    }
    h1 {
        @media(max-width: 568px) {
            font-size: 30px;
        }
    }
    .content__font {
        padding: 20%
    }
}